@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

:root {
    /* --theme: #0d0a41; */
    --theme:#0f0a44;
    --blue:#15508b;
    --purple: #4d54b3;
    --cyan: #37c5f1;
    --yellow: #dec030;
    --green:#269c29;
    --radius: 12px;
    --mb: 10px;
}
body {background:#eaf3ee;color:var(--theme);padding-bottom:50px;max-width:500px;margin:auto;position: relative;}
/* CSS Reset */
a, a:hover {color:inherit,text-decoration:none;}
.heading {font-size:28px;line-height:30px}
.sub_heading {font-size:22px;line-height:23px;}
.form-control,
.form-control:focus {border-color:var(--theme);box-shadow:none;}
.btn-theme, .btn-theme:hover {background:var(--theme);color:#fff;font-size: 16px!important;padding: 10px 15px !important;font-weight:600;}
.btn.bg-white {color:var(--theme);background:#fff !important;font-size: 16px!important;padding: 10px 15px !important;font-weight:600;}
.btn-theme-sm , .btn-theme-sm:hover{display:inline-block;background:var(--theme);color:#fff;padding:10px;font-size:13px;font-weight:600;text-decoration:none;border-radius:var(--radius);}
.bg-theme {background:var(--theme)!important;color:#fff!important;}



header {
    height: 60px;background:var(--theme);padding:0 10px;z-index:1039;
}
main {display:flex;flex-direction:column;width:100%;height:calc(100vh - 100px);background:#eaf3ee;padding:10px;overflow-y:auto;}
footer {width:100%;height:60px;background:#fff;color:var(--theme);}



.banner {display:flex;justify-content:center;align-items:center;height:200px;background:var(--theme);color:#fff;border-radius:var(--radius);margin-bottom:10px;}
.banner img {width:100%;height:100%;object-fit:cover;border-radius:var(--radius);}

.card {border-radius:var(--radius);margin-bottom:10px;}
.card_list {position:relative;width:100%;height:180px;border-radius:var(--radius);overflow:hidden;}
.card_list span {position:absolute;left:0;bottom:0;width:100%;height:40px;line-height:40px;background:var(--theme);color:#fff;font-size:13px;font-weight:600;text-align:center;z-index:1;}
.card_list_top_img {width:100%;height:200px;object-fit:cover;border-radius:var(--radius);}


.card_list_img {width:100%;height:150px;object-fit:cover;border-radius:var(--radius);}
.border-theme {border:1px solid var(--theme);color:var(--theme);}
.qty_btn { width:24px;height:24px;line-height:22px;text-align:center;background:lightgray;color:#fff;border-radius:50%;padding:0;border:0;}
.qty_btn span {font-size:14px;font-weight:bold;}

.customer_footer a {color:#c9c9c9;height:60px;}
.customer_footer a span:first-child {color:#c9c9c9;font-size:25px;}
.customer_footer a span:last-child {font-size:13px;font-weight:600;}
.customer_footer a.active,
.customer_footer a.active span:first-child {color:var(--theme);}


.customer_searchbar {background:var(--theme);padding:10px}

.sidebar {width:300px;height:100vh;overflow-y:auto;background:#fff;z-index:1098;}
.sidebar_header {background:var(--theme);color:#fff;padding:20px;}
.sidebar_divider {width:100%;height:1px;background:rgb(255 255 255 / 20%);margin:10px 0;}
.sidebar_main .nav-link {color:var(--theme)}
.sidebar_main .nav-link.active,
.sidebar_main .nav-link:hover {background:lightgray;color:var(--theme);}
.sidebar_main .nav-link span {position:relative;top:5px;}