.ml-25{
	margin-left: 25px !important;
}

.ml-50{
	margin-left: 50px !important;
}

form label.required:after
{
	color: red;
	content: " *";
}

.red{
	color:#ec5757 !important;
}

.yellow{
	color:yellow !important;
}

.edit-btn{
	color: #6c757d;
}

.green{
	color:green !important;
}

.blue{
	color: #6c757d !important;
}

.action-btn{
	font-size: 20px !important;
}

.file-btn{
	font-size: 0.8rem !important;
}

.hidden{
	display: none;
}

.pointer{
	cursor: pointer;
}

.nowrap{
	white-space: nowrap;
}

.health-op{
	font-weight: bold;
	color: white;
}

.bg-green{
	background-color: green;
}

.bg-yellow{
	background-color: yellow;
}

.bg-red{
	background-color: red;
}

.bg-matrix{
	background-color: #00000026;
}

.bg-matrix-center{
	background-color: #00000026;
}

.health-icon{
	border:1px solid black;
	border-radius: 25px;
}

.task-type-changer{
	display: initial;
	width: 	initial;
	margin: 0px 5px 0px 0px;
}